<a href="https://colab.research.google.com/github/Farhana111/Homework3/blob/main/leetcode_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convert Roman to Interger

In [31]:

def romanToInt(s):
      roman = {'I':1,'V':5,'X':10,'L':50,'C':100,'D':500,'M':1000,'IV':4,'IX':9,'XL':40,'XC':90,'CD':400,'CM':900}
      i = 0
      num = 0
      while i < len(s):
         if i+1<len(s) and s[i:i+2] in roman:
            num+=roman[s[i:i+2]]
            i+=2
         else:
            num+=roman[s[i]]
            i+=1
      return num

print(romanToInt("XIV"))
print(romanToInt("CDXLIII"))

14
443

# while loop and

In [21]:
i=0
n=100
while i**2<=n:
  if i>0 and int(i/2)==i/2 :
    print(i,i**2)
  i=i+1

2 4
4 16
6 36
8 64
10 100

In [43]:
roman = {'I':1,'V':5,'X':10,'L':50,'C':100,'D':500,'M':1000,'IV':4,'IX':9,'XL':40,'XC':90,'CD':400,'CM':900}
type(roman)
def romantoint(string):
  i=0
  integer_value=0
  while i<len(string):
    if i+1<len(string) and string[i:i+2] in roman:
      integer_value+=roman[string[i:i+2]]
      print("first option",i, roman[string[i:i+2]])
      i+=2
    else:
      integer_value+=roman[string[i]]
      print("second option",i, roman[string[i]])
      i+=1
  return (integer_value)

romantoint("MCD")

second option 0 1000
first option 1 400

1400